<td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
<td>{$vo.title|high_light=$Request.param.search}</td>
<td>{$vo.competition?$vo.competition.title:'非赛事'}</td>
<td><img src="{$vo.main_img_url}" alt="" style="width: 50px;height: 50px"></td>
<td style="word-break:keep-all;white-space:nowrap;overflow: hidden;text-overflow: ellipsis"><a title="{$vo.play_rtmp}"  href="javascript:void (0)" onclick="layer_open('正在播放{$vo.title}','{:\\think\\Url::build(\'play\')}?url={:urlencode($vo.play_rtmp)}',{w:'656',h:'510'})">{$vo.play_rtmp}</a></td>
<td style="word-break:keep-all;white-space:nowrap;overflow: hidden;text-overflow: ellipsis"><a title="{$vo.play_flv}"  href="javascript:void (0)" onclick="layer_open('正在播放{$vo.title}','{:\\think\\Url::build(\'play\')}?url={:urlencode($vo.play_flv)}',{w:'656',h:'510'})">{$vo.play_flv}</a></td>
<td style="word-break:keep-all;white-space:nowrap;overflow: hidden;text-overflow: ellipsis"><a title="{$vo.play_m3u8}"  href="javascript:void (0)" onclick="layer_open('正在播放{$vo.title}','{:\\think\\Url::build(\'play\')}?url={:urlencode($vo.play_m3u8)}',{w:'656',h:'510'})">{$vo.play_m3u8}</a></td>
<td>{$vo.expire_time}</td>
<td>{$vo.online_show?'显示':'隐藏'}</td>