{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    <form class="form form-horizontal" id="form" method="post" action="{:\\think\\Request::instance()->baseUrl()}">
        <input type="hidden" name="id" value="{$vo.id ?? ''}">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>用户账号：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="用户账号" name="username" value="{$vo.username ?? ''}"  datatype="*2-16" nullmsg="此项为必填项">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>性别：</label>
            <div class="formControls col-xs-6 col-sm-6 skin-minimal">
                <div class="radio-box">
                    <input type="radio" name="sex" id="sex-0" value="0" datatype="n" nullmsg="此项为必选项" errormsg="必须是数字类型">
                    <label for="sex-0">保密</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="sex" id="sex-1" value="1" datatype="n" nullmsg="此项为必选项" errormsg="必须是数字类型">
                    <label for="sex-1">男</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="sex" id="sex-2" value="2" datatype="n" nullmsg="此项为必选项" errormsg="必须是数字类型">
                    <label for="sex-2">女</label>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">手机号码：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="手机号码" name="mobile" value="{$vo.mobile ?? ''}"  datatype="m" nullmsg="请填写手机号码" errormsg="必须是手机格式" ignore="ignore">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">用户类型：</label>
            <div class="formControls col-xs-6 col-sm-6 skin-minimal">
                <div class="radio-box">
                    <input type="radio" name="type" id="type-1" value="1" datatype="n" nullmsg="请选择用户类型" errormsg="必须是数字类型" ignore="ignore">
                    <label for="type-1">微信用户</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="type" id="type-2" value="2" datatype="n" nullmsg="请选择用户类型" errormsg="必须是数字类型" ignore="ignore">
                    <label for="type-2">普通用户</label>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>头像：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text"  name="head_img" value="{$vo?$vo->getData('head_img'):''}" id="upload" placeholder="请点击后面的上传按钮" style="width: 70%">
                <input type="hidden" name="image_id" id="image_id"  value="{$vo.image_id ?? 0}">
                <input type="hidden" name="from" id="from" value="{$vo.from ?? 1}">
                <button type="button" class="btn btn-primary radius" onclick="layer_open('文件上传','{:\\think\\Url::build(\'Upload/index\', [\'id\' => \'upload\',\'image_id\' => \'image_id\',\'from\' => \'from\'])}')">上传</button>
                <a onclick="$(this).attr('href', $('#upload').val())" type="button" class="btn btn-success radius" data-lightbox="preview">预览</a>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>

<!--        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">头像：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="头像" name="head_img" value="{$vo?$vo->getData('head_img') : ''}" >
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>-->

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit" class="btn btn-primary radius">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
                <button type="button" class="btn btn-default radius ml-20" onClick="layer_close();">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
{/block}
{block name="style"}
<link rel="stylesheet" href="__LIB__/lightbox2/css/lightbox.min.css">
{/block}
{block name="script"}
<script type="text/javascript" src="__LIB__/Validform/5.3.2/Validform.min.js"></script>
<script src="__LIB__/lightbox2/js/lightbox.min.js"></script>
<script>
    $(function () {
        $("[name='sex'][value='{$vo ? $vo->getData('sex'):0}']").prop("checked", true);
        $("[name='type'][value='{$vo.type ?? ''}']").prop("checked", true);

        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form").Validform({
            tiptype: 2,
            ajaxPost: true,
            showAllError: true,
            callback: function (ret){console.log(ret)
                ajax_progress(ret);
            }
        });
    })
</script>
{/block}
